.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
  }
  
  .container > div {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  
  .container > div:hover {
    transform: scale(1.05);
  }
  
  .button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 200px;
    padding: 10px 20px;
    background-color: #2d3635;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;

  }